// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-size:13px;
  color:#333;
  margin:33px;
  font-family:verdana, arial, helvetica, sans-serif;
  line-height:18px;
}

h1{
  font-size:2em;
  margin:10px;
}

h2{
  font-size: 1.5em;
  margin-block-start: 0.83em;/* topやleftで余白指定する代わり。*/
    margin-block-end: 0.83em;/*blockは文字進行方向に対し垂直、inlineは水平方向*/
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
table{
  display:table;
  border-collapse:separate;/*表の線の隙間。初期値はこれ。*/
  text-indent:initial;/*文頭などの字下げ。初期値はこれ（字下げ０）。*/
  border-spacing:2px;
}
td{
  padding-bottom:7px;
  padding-left:5px;
  padding-right:5px;
}
 .book_title,.book_body{
   margin:0 20px;
 }

.field{
  margin-bottom:10px;
}
label{
  display:block;
}

/*show.html.erb */
.title-box,.body-box{
  display:flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin:33px;
}

.line{
  padding:0 5px;
}

/*edit.html.erb*/
.under-link{
  display:flex
}